<link rel="import" href="../../../packages/polymer/polymer.html">
<link rel="import" href="purchase_renderer.html">

<polymer-element name="day-purchases-list">
    <template>
        <style>
            :host {
              margin-bottom: 10px;
            }
            :host :last-child {
              margin-bottom: 0;
            }
            
            
            purchase-renderer {
              border-bottom: 1px dashed;
            }
            purchase-renderer:last-child {
              border-bottom: none;
            }
        </style>
        
        <div flex horizontal layout>
            <div>{{dayLabel}}</div>
            
            <div flex vertical layout>
                <template repeat="{{purchase in data.items}}">
                    <purchase-renderer data="{{purchase}}"></purchase-renderer>
                </template>
            </div>
            
            <div>total: {{total}}</div>  
              
        </div>
    </template>
    <script type="application/dart" src="day_purchases_list.dart"></script>
</polymer-element>