<link rel="import" href="../../../packages/polymer/polymer.html">
<link rel="import" href="day_purchases_list.html">

<polymer-element name="item-list">
    <template>
        <style>
            :host {
                max-width: 200px;
                width: 100%;
            }
        </style>

        <div flex vertical layout>
            <template repeat="{{dayPurchases in dataProvider}}">
                <day-purchases-list data="{{dayPurchases}}"></day-purchases-list>
            </template>
        </div>

    </template>
    <script type="application/dart" src="item_list.dart"></script>
</polymer-element>